<%- include ('partials/header') %>

<div class="text-center">
    <h1>This is the landing page</h1>
    <h3><a href="/campgrounds">View campgrounds</a></h3>
</div>

<%- include ('partials/footer') %>
